---
import "@/styles/descargas.css"
import BaseLayout from "@/layouts/BaseLayout.astro";
import VersionCard from "@/components/TarjetaVersion.astro";

import { languageList } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";

const currentLang = Astro.currentLocale || "en";
const t = useTranslations(currentLang as keyof typeof languageList);

const latestVersions = [
  {
    title:"Redes Sociales",
    buildInfo: t("downloads.latest_version.build_info"),
    tags: [
      { label: t("downloads.tags.x64_uefi"), bgColor: "blue-100", textColor: "blue-800" },
      { label: t("downloads.tags.stable"), bgColor: "green-100", textColor: "green-800" },
      { label: `${t("downloads.tags.updated")}: 7-02-2025`, bgColor: "blue-100", textColor: "blue-800" },
    ],
    features: [
      t("downloads.features.iso_size"),
      t("downloads.features.debloated_optimized"),
      t("downloads.features.full_updatable_build"),
      t("downloads.features.automatic_updates_paused"),
      t("downloads.features.intel_rst_drivers"),
      t("downloads.features.extreme_performance"),
      t("downloads.features.uwp_apps_support"),
      t("downloads.features.additional_language_support"),
      t("downloads.features.optional_features_support"),
      t("downloads.features.improvements_optimizations"),
      t("downloads.features.no_preinstalled_uwp_apps"),
      t("downloads.features_no_internet"),
      t("downloads.features_telemetry"),
      t("downloads.features.ms_store_installer_included"),
    ],
    link: "https://www.mediafire.com/file_premium/mfmqqd8b218eozc/CodeXtremeOS11_24H2.iso/file",
    linkText: t("downloads.download_button"),
    linkColor: "text-red-500",
    borderColor: "border-red-500",
    textColor: "text-red-500",
  },
  {
    title: t("downloads.version2.name"),
    buildInfo: t("downloads.version2.build_info"),
    tags: [
      { label: t("downloads.tags.x64_uefi"), bgColor: "blue-100", textColor: "blue-800" },
      { label: t("downloads.tags.stable"), bgColor: "green-100", textColor: "green-800" },
      { label: `${t("downloads.tags.updated")}: 7-02-2025`, bgColor: "blue-100", textColor: "blue-800" },
    ],
    features: [
      t("downloads.features.installed_size_4gb"),
      t("downloads.features.debloated_optimized"),
      t("downloads.features.full_updatable_build"),
      t("downloads.features.extreme_performance"),
      t("downloads.features.uwp_apps_support"),
      t("downloads.features.additional_language_support"),
      t("downloads.features.optional_features_support"),
      t("downloads.features.improvements_optimizations"),
      t("downloads.features.no_preinstalled_uwp_apps"),
      t("downloads.features_no_internet"),
      t("downloads.features_telemetry"),
    ],
    link: "https://www.mediafire.com/file_premium/6txytyd1iu5syr3/CodeXtremeOS11_23H2.iso/file",
    linkText: t("downloads.download_button"),
    linkColor: "text-purple-500",
    borderColor: "border-purple-500",
    textColor: "text-purple-500",
  },
];

const previousVersions = [
  {
    title: t("downloads.version1.name"),
    buildInfo: t("downloads.version1.build_info"),
    tags: [
      { label: t("downloads.tags.x64_uefi"), bgColor: "blue-100", textColor: "blue-800" },
      { label: t("downloads.tags.stable"), bgColor: "green-100", textColor: "green-800" },
      { label: t("downloads.tags.limited_support"), bgColor: "yellow-100", textColor: "yellow-800" },
      { label: `${t("downloads.tags.updated")}: 7-02-2025`, bgColor: "blue-100", textColor: "blue-800" },
    ],
    features: [
      t("downloads.features.installed_size_3gb"),
      t("downloads.features.debloated_optimized"),
      t("downloads.features.full_updatable_build"),
      t("downloads.features.automatic_updates_paused"),
      t("downloads.features.intel_rst_drivers"),
      t("downloads.features.extreme_performance"),
      t("downloads.features.uwp_apps_support"),
      t("downloads.features.additional_language_support"),
      t("downloads.features.optional_features_support"),
      t("downloads.features.improvements_optimizations"),
      t("downloads.features.no_preinstalled_uwp_apps"),
      t("downloads.features_no_internet"),
      t("downloads.features_telemetry"),
      t("downloads.features.ms_store_installer_included"),
    ],
    link: "https://www.mediafire.com/file_premium/mho2gzlbaeo4n89/CodeXtremeOS10_22H2.iso/file",
    linkText: t("downloads.download_button"),
    linkColor: "text-green-500",
    borderColor: "border-green-500",
    textColor: "text-green-500",
  },
];
---

<BaseLayout title="Contacto">
 

  <!-- Sección Principal -->
  <main class="bg-gradient-to-br from-[#F4F4F4] to-[#eaeaea] dark:from-[#1A1A1A] py-16 relative">
    <h2 class="text-3xl font-inter font-black 900 italic  text-center mb-12">
      <span class="text-secondary_green text-[50px]  ">
        ¿Y si digitalizar tu negocio fuera más fácil de lo que imaginas?
      </span>
      <br>
      <span class="text-dark">
        Creamos soluciones digitales a medida para que tú te concentres en hacer crecer tu negocio.

        ¿Listo para dar el siguiente paso? Contáctanos y te guiamos.
      </span>
    </h2>
    <div class="container mx-auto px-4">
      <!-- Contenedor Flex para las últimas versiones -->
      <div class="flex flex-col md:flex-row gap-8 justify-center">
        {latestVersions.map(version => (
          <VersionCard {...version} />
        ))}
      </div>
    </div>
  </main>

  <!-- Versiones Anteriores -->
  <section class="mb-24">
    <h2 class="text-3xl font-bold text-center mb-12">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#a581ff] to-[#170a38]">
        {t("downloads.previous_versions.title")}
      </span>
    </h2>
    <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row gap-8 justify-center">
        {previousVersions.map(version => (
          <VersionCard {...version} />
        ))}
      </div>
    </div>
  </section>
</BaseLayout>
