---
import BaseLayout from "@/layouts/BaseLayout.astro";
import GuideCard from "@/components/TarjetaGuias.astro";

const guides = [
  {
    title: "Automatizamos tareas aburridas",
    description: "¿Tu asistente se la pasa repitiendo las mismas tareas? Nosotros creamos sistemas que las hacen solos: enviar correos, ordenar archivos, generar reportes... todo sin que nadie lo haga a mano. ",
    link: "https://www.youtube.com/watch?v=fqTt4DarrOU",
    borderColor: "border-secondary_green",
    textColor: "text-secondary_green",
    hoverTextColor: "hover:text-dark",
    gradientFrom: "from-secondary_green",
    gradientTo: "to-dark",
    // icon :"dkla",
  },  
  {
    title: "Tu sitio web sin pagar una fortuna",
    description: "Olvídate de gastar miles para tener un sitio web. Te damos una página moderna, lista para usar, con una pequeña mensualidad. Sin dolores de cabeza ni grandes inversiones",
    link: "https://www.youtube.com/watch?v=dnE5RRnIvKI",
    borderColor: "border-dark",
    textColor: "text-dark",
    hoverTextColor: "hover:text-dark",
    gradientFrom: "from-secondary_green",
    gradientTo: "to-dark",
    // icon: "⚡",
  },
  {
    title: "Agenda automática de citas",
    description: "Si das citas o consultas, olvídate de responder mensajes todo el día. Las personas pueden agendar solas desde tu página, y el sistema les manda recordatorios.",
    link: "https://www.youtube.com/watch?v=vqYixOxhdgc",
    borderColor: "border-dark",
    textColor: "text-dark",
    hoverTextColor: "hover:text-dark",
    gradientFrom: "from-secondary_green",
    gradientTo: "to-dark",
    // icon: "🎨",
  },
  {
    title: "Software Personalizado para tu Negocio",
    description: "Si tienes procesos únicos, también podemos crear un software a medida que se ajuste justo a cómo trabajas tú y tu equipo.",
    link: "https://www.youtube.com/watch?v=WfpFgQdWT20&list=PL0rDzzHg4fUli-ciiihzmJnr-scB0FuY8",
    borderColor: "border-secondary_green",
    textColor: "text-dark",
    hoverTextColor: "hover:text-dark",
    gradientFrom: "from-secondary_green",
    gradientTo: "to-dark",
    // icon: "🔧",
  },
  // {
  //   title: "guides.guide5.title",
  //   description: "guides.guide5.description",
  //   link: "https://www.youtube.com/watch?v=5Q8CHJxlil4",
  //   borderColor: "border-[#00BCD4]",
  //   textColor: "text-[#00BCD4]",
  //   hoverTextColor: "hover:text-[#4DD0E1]",
  //   gradientFrom: "from-[#00BCD4]",
  //   gradientTo: "to-[#4DD0E1]",
  //   icon: "🚀",
  // },
  // {
  //   title: "guides.guide6.title",
  //   description: "guides.guide6.description",
  //   link: "https://windowsforum.com/threads/step-by-step-guide-how-to-do-a-clean-install-of-windows-11.264029/",
  //   borderColor: "border-[#FF5722]",
  //   textColor: "text-[#FF5722]",
  //   hoverTextColor: "hover:text-[#FF8A65]",
  //   gradientFrom: "from-[#FF5722]",
  //   gradientTo: "to-[#FF8A65]",
  //   icon: "🤖",
  // },
  // {
  //   title: "guides.guide7.title",
  //   description: "guides.guide7.description",
  //   link: "https://www.youtube.com/watch?v=iBiNfa32AnE",
  //   borderColor: "border-[#8E24AA]",
  //   textColor: "text-[#8E24AA]",
  //   hoverTextColor: "hover:text-[#BA68C8]",
  //   gradientFrom: "from-[#8E24AA]",
  //   gradientTo: "to-[#BA68C8]",
  //   icon: "🔍",
  // },
  // {
  //   title: "guides.guide8.title",
  //   description: "guides.guide8.description",
  //   link: "https://alternativeto.net/",
  //   borderColor: "border-[#3F51B5]",
  //   textColor: "text-[#3F51B5]",
  //   hoverTextColor: "hover:text-[#7986CB]",
  //   gradientFrom: "from-[#3F51B5]",
  //   gradientTo: "to-[#7986CB]",
  //   icon: "💻",
  // },
];
---

<BaseLayout title= 'Soluciones'>
  {/* Contenido Principal */}
  <main class="bg-white from-green py-16 relative">
  
    {/* Grid de Guías */}
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
        {guides.map((guide) => (
          <GuideCard {...guide} />
        ))}
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .group:hover h2 span {
    background-position: 100% 50%;
    transition: background-position 0.5s ease-out;
  }

  h2 span {
    background-size: 200% auto;
    background-position: 0% 50%;
    transition: background-position 0.3s ease-in;
  }
</style>
